html{
 background: url(../images/IMG-2078.jpg) no-repeat center center fixed;
 background-size: cover;
 height:100%;
 width: 100%;
 padding: 0;
}

@font-face {
  font-family: cabin-sketch;
  src: url(fonts/CabinSketch-Regular.ttf);
}

body{
  margin: 0 0 0 0;
  padding: 0;
  background-color: #719b25AD;
  width: 100%;
  height: auto;
  min-height: 100%;
}

main{
  width: 50vw;
  min-width: 480px;
  height: auto;
  min-height: 100vh;
  padding-top: 40px;
  margin: 0 auto 0;
  background: linear-gradient(.25turn, #2e6409DA 10%, #2c4928,  #2e6409DA 90%);
}

.title{
  border: 5px solid #000000AF;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #719b25AD;
  box-shadow: 0px 0px 50px #192819;
}


.first{
  width: 80%;
  height: 150px;
}

.second {
  width: 80%;
  height: 90px;
  margin-bottom: 80px;
}

h1, h2{
  color: #192819;
  width: 80%;
  text-align: center;
  font-family: cabin-sketch;
}

.descOne{
  max-width: 480px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  padding: 0 0;
}

.description{
  color: #cbe368;
  margin: 20px auto;
  max-width: 480px;
  width: 80%;
  text-align: center;
  font-weight: bold;
}

.description a{
  color: #cbe368;
}

.description a:hover{
  color: #192819;
}

.area {
  max-width: 1600px;
  width: 95%;
  height: auto;
  margin: 40px auto;
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  gap: 40px;
}

.loc{
  border: 5px solid #000000;
  gap: 40px;
  margin-bottom: 40px;
  background-size: cover;
  width :460px;
  height: 614px;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  box-shadow: 0px 0px 50px #192819;
}

.west {
  background-image: url(../images/IMG-2709.jpg);
}

.east {
  background-image: url(../images/IMG-1854.jpg);
}

.north {
  background-image: url(../images/IMG_0916.jpg);
}



.textBorder {
  width: 80px;
  height: 30px;
  background-color: #719b25;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #000000AF;
}

.area a {
  padding: 0;
  margin: 0;
  color: #192819;
  display: flex;
  justify-content: center;
  justify-self: center;
  text-decoration: none;
  text-align: center;
}

.loc:hover .textBorder {
  background-color: #192819;
  color: #719b25;
}
