html{
 background: url(../images/IMG-2078.jpg) no-repeat center center fixed;
 background-size: cover;
}

@font-face {
  font-family: cabin-sketch;
  src: url(fonts/CabinSketch-Regular.ttf);
}

body{
  margin: 0;
  background-color: #1d6115AF;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

main{
  width: 50vw;
  min-width: 480px;
  height: auto;
  min-height: 100vh;
  padding-top: 40px;
  margin: 0 auto;
  background: linear-gradient(.25turn, #1d6115DA 10%, #5a8c54,  #1d6115DA 90%);
}

.title{
  border: 5px solid #000000AF;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #39802dAF;
}

.first{
  width: 80%;
  height: 150px;
}

.second {
  width: 80%;
  height: 90px;
}

h1, h2{
  width: 80%;
  text-align: center;
  font-family: cabin-sketch;
}

.descOne{
  max-width: 480px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  padding: 0 0;
}

.description{
  margin: 20px auto;
  max-width: 480px;
  width: 80%;
  text-align: center;
  font-weight: bold;
}

.area {
  max-width: 1500px;
  height: auto;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  justify-content: center;
}

.loc{
  border: 5px solid #000000;
  background-image: url(../images/IMG_0916.jpg);
  background-size: cover;
  width :460px;
  height: 614px;
  justify-content: center;
  justify-self: center;
  display: flex;
  align-items: center;
}

.textBorder {
  width: 80px;
  height: 30px;
  background-color: #39802d;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #000000AF;
}


